@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-img {
  width: 200px;
}

.card-body {
  background-color: #eee;
  padding: 2rem;
}

.small {
  font-size: 0.875rem;
  color: #888;
}

.tag{
  background-color: #2f2f3c;
  color: rgb(221, 221, 221);
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
}